.line__win-title-box {
  width: 200px;
  height: 150px;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 450px) {
  .line__win-title-box {
    width: 100px;
    height: 75px;
  }
}