[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  position: absolute;
  width: 150px;
  padding: 0.5em;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  left: 0;
  top: 0;
  line-height: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px blue;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
  }

[data-tooltip]:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  [data-tooltip]::after {
    width: 75px;
    font-size: 12px;
    line-height: 14px;
    margin-left: -75px;
  }
}