.line__paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .line__paragraph {
    font-size: 12px;
    line-height: 14px;
  }
}