.container__video {
  width: 180px;
  height: 120px;
  margin-top: 250px;
  border: none;
  /* box-shadow: 0 0 5px 2px blue; */
}

@media screen and (max-width: 600px) {
  .container__video {
    width: 110px;
    height: 85px;
    margin-top: 30px;
  }
}
