.math-button {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-family:'Zantroke', Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 43px;
  font-weight: 900;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color:white;
  transition: 0.3s;
  background-color: black;
  border: 1px white solid;
}

.math-button:hover {
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .math-button {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 23px;
    max-width: 300px;
    padding: 5px;
  }
}