.content {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto 0;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px blue;
  padding-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 450px) {
  .content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }
}