.line__persent-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

@media screen and (max-width: 450px) {
  .line__persent-container {
    max-width: 310px;
    justify-content: space-between;
  }
}