.line__box-line-text {
  margin: 10px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .line__box-line-text {
    font-size: 8px;
    line-height: 9px;
  }
}