.container__choise-input {
  border-radius: 7%;
  width: 100px;
  height: 45px;
  border: 1px solid white;
  outline: none;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .container__choise-input {
    width: 100px;
    height: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    border-radius: 3%;
  }

  .container__choise-input::placeholder {
    font-size: 15px;
    line-height: 16px;
  }
}