.container__right-choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 28%;
}

@media screen and (max-width: 450px) {
  .container__right-choice {
    width: 35%;
  }
}