.line__win-draw-win {
  max-width: 800px;
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .line__win-draw-win {
    max-width: 300px;
  }
}